*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F7F7;
}
.form-container{
    padding: 70px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* height: 900px; */
    align-items: center;

    @media (max-width: 484px) {
        padding: 20px;
    }
}
.form-content{
    background-color: #FFFFFF;
    padding: 30px;
    width: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
.logo{
    display: flex;
    justify-content: center;
}
.title{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.form-label{
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    color: #656B85;
    margin-bottom: 20px;
}
.input-textt{
    margin-top: 10px;
    margin-bottom: 25px;
}
.form-input{
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid black;
}
.form-input:focus{
    outline: none;
}
.submit-btn{
    background-color: #0096E5;
    color: #F7F7F7;
    font-size: 18px;
    width: 100px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn a{
    color: #F7F7F7;
    font-size: 18px;
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: center;
}

.user-conyain{
    display: flex;
    justify-content: center;
}
.user{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 200px;
    margin-inline: center;
    padding: 10px;
}
.user h5{
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}
.user span{
    color: #0096E5;
}
.user-number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.user-number p{
    max-width: 260px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: gray;
    font-size: 14px;
}
.form-inputt{
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: rgb(232, 232, 232);
}
.form-inputt:focus{
    outline: none;
}